{% extends 'base.html' %}
{% block content %}
<div class="container" style="width: 40rem;">
        <div class="card">
        <h3 class="text-center">Edit Contact</h3>
        <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_div}}
            <input type="submit" value="Save" class="btn btn-success btn-sm ">
            <a href="{% url 'book:home' %}" class="btn btn-danger btn-sm">Cancel</a>
        </form>
    </div>
        </div>
</div>
{% endblock content %}